* {
    box-sizing: border-box;
}
nav {
    position:sticky;
    top:0;
    left:0;

    display:flex;
    flex-direction: column;

    max-width:225px
}
nav a {
    display:block;
    width:100%;
}
nav a {
    border-bottom: 1px solid;
}
.nav_dropdown {
    font-size:150%;
    border: 2px solid;
    display: inline-block;
    margin:4px;
    padding:0px 4px;
    position: fixed;
    top:0;
    right:0;
    background-color: purple;
    z-index: 2;
}
#nav_dropdown {
    display:None;
}
input[type=checkbox]:checked ~ nav {
    max-height:100%;
}