 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	margin: 0 auto;
	font-family: sans-serif;
}
footer p {
  text-align: center;
}
.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}
.row p, .col p {
	font-size: 1.2em;
    height:5em;
    text-align:center;
    padding: 2rem;
}
.row {
    display:flex;
    margin: 1em;
    flex-direction: row-reverse;
}
.col {
    display:flex;
    margin:1em;
    flex-direction: column-reverse;
}
section>div{
    flex-grow:1;
}
