* {
    box-sizing: border-box;
}
nav {
    display:block;
    text-align: center;
    border:1px green solid;
    border-bottom: 0px;
    margin:1em;
    margin-bottom:0em;
    padding-bottom: 8px;
}
header {
    text-align: center;
    color:burlywood;
    border: 1px solid burlywood;
    border-bottom: 0px;
    font-style: italic;
    margin: 1em;
    margin-top:0em;
}
h1 {
    padding-bottom: 1em;
    font-weight: 75;
}
main {
    padding:1em;
}
blockquote {
    padding:4px;
    border:2px solid;
}
footer {
    display:grid;
    padding: 1em;
    border: 1px solid;
    border-top: blue;
    text-align: center;
}
footer>div>b {
    padding: 8px;
}
@media screen and (min-width:600px) {
    nav {
        display:flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        text-align: center;    
        align-items:center;
        align-content:space-evenly;
    }
    nav>div{
        flex-grow: 1;
    }
}
@media screen and (min-width:768px) {
    main {
        display:grid;
        border: 1px solid blue;
    }
    section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:960px) {
    main{
        grid-template-columns: 2fr 1fr;
    }
    section {
        grid-template-columns:1fr
    }
    article {
        padding:8px;
    }
    aside {
        padding:8px;
    }
}
@media screen and (min-width:1280px) {
    .wrapper {
        width:1280px;
        margin: 0 auto;
    }
}