.container{
    width: 100%;
    margin: 0 auto;
}
.col2, .col3, .col4{
    display:grid;
    border:1px solid black;
    padding:1em;
    gap:10px;
    grid-template-columns: 1fr;
}
@media screen and (min-width:600px) {
    .col2,.col3,.col4 {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:768px) {
    .col2,.col4 {
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:960px) {
    .col3 {
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:1280) {
    .col4{
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (min-width:1600){
    .container{
        width:1280px;
    }
}