* {
    font-family: "Comic Neue";
    box-sizing: border-box;
}
.wrapper {
    background-image: url("backgrounds/background1080.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 8px;
    background-size: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
nav {
    display:flex;
    max-width:100%;
    flex-flow:column;
    padding:8px;
    background-image: url("backgrounds/mountain.jpeg");
    border-radius: 1em;
}
nav>div {
    width:60%;
    min-width: none;
    padding-bottom: 4px;
    padding-top:4px;
    background-image:linear-gradient(to bottom, rgb(91, 213, 250), rgb(245, 169, 255), rgb(255,255,255), rgb(245, 169, 255), rgb(91, 213, 250));
    border-radius: 12px;
    border: 2px solid black;
}
nav>div>a:link {
    text-decoration: none;
    padding:4px;
    color:#00d;
}
nav>div>a:hover {
    color:aqua;
    font-style: italic;
}
nav>div>a:visited {
    color:purple;
}
header {
    text-align:center;
    color:crimson;
    border-radius: 5em;
    border:2px solid black;
    margin:1em;
    background-image:-moz-radial-gradient(rgb(255,255,255), rgb(245, 169, 255), rgb(91, 213, 255) 95%);
}
main {
    padding: 8px;
}
article {
    background-color: rgba(44, 255, 255, 0.8);
}
article h4 {
    margin-left:4px
}
article p{
    padding:4px;
    padding-top:0px;
    margin:8px;
}
iframe {
    height:"400px";
    width:100%;
    border:1px solid black;
}
aside {
    background-color: rgba(0,255,255,.5);
    padding:4px;
}
aside audio{
    height:40px;
    width:75%;
}
footer {
    display:grid;
    background-color: lightpink;
    padding:1.5em;
    border:2px solid black;
    grid-template-columns: 3fr 2fr;
}
footer h3 {
    
}
footer h4 {

}
footer>ul {
    
}


@media screen and (min-width:600px) {
    nav>div {
        width:40%;
    }
}

@media screen and (min-width:768px) {
    .lena {
        float: right;
        width: 360px;
        clear:both;
        margin:4px;
    }
}
@media screen and (min-width:960px) {
    main {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    nav {
        flex-direction: row;
    }
    nav>div {
        height:2em;
        width:20px;
    }
}
@media screen and (min-width:1280px) {
    
}